[submodule "libs/mavlink-custom"]
	path = libs/mavlink-custom
	url = https://github.com/Godwit-systems/c_library_v2.git
[submodule "libs/mavlink-def"]
	path = libs/mavlink-def
	url = https://github.com/Godwit-systems/mavlink.git
